<div class="container-inicial">
    <div class="filter">
        <div class="card-filters search">
            <mat-icon class="icon">search</mat-icon>
            <input class="input" type="text" placeholder="Pesquise por seu país..." [(ngModel)]="searchText"
                (ngModelChange)="filterByCountry(searchText)">

        </div>
        <div class="dropdown-abaixo card-filters" (click)="toggleDropdown()">
            <button class="selector" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                >
                <div class="name-region-filter">Filtrar por Região</div>
                <mat-icon class="icon-expand " [class.rotated]="isDropdownOpen">
                    expand_more
                </mat-icon>
            </button>
            <ul class="custom-dropdown" [class.open]="isDropdownOpen">
                <li class="dropdown-item" (click)="filterByRegion('')">Todas</li>
                <li class="dropdown-item" *ngFor="let region of regions" (click)="filterByRegion(region)">
                    {{ region }}
                </li>
            </ul>
        </div>
    </div>
    <div class="container-secundario">
        <h1 *ngIf="loading">Carregando...</h1>
        <div class="card-country" *ngFor="let country of countries" [routerLink]="['/country', country.cca3]">
            <img class="img-country" [src]="country.flags.png" [alt]="country.name.common">
            <div class="info-country">
                <h3>{{ country.name.common }}</h3>
                <p>População: {{ country.population | number }}</p>
                <p>Região: {{ country.region }}</p>
                <p>Capital: {{ country.capital?.[0] }}</p>

            </div>
        </div>

    </div>
</div>