.container-inicial {
    padding: 3% 5%;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-filters {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    padding: 1% 1.5%;
    display: flex;
    gap: 5%;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    border: none;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: scale(0.95);
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
}

.search {
    width: 35%;
}

.selector {
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    color: var(--text-color);
}

.input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: var(--text-color);
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 0;
}

.input::placeholder {
    color: var(--icon-color);
}

.icon-expand {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.icon-expand.rotated {
    transform: rotate(180deg);
}


.dropdown-abaixo {
    position: relative;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: scale(0.95);
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
}

.custom-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.1s ease;
}

.custom-dropdown.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    margin-top: 10px;
}

.dropdown-item {
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: background 0.1s;

    &:hover {
        background: var(--bg-color);
    }
}

.container-secundario {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* sempre 4 colunas */
    gap: 40px;
    width: 100%;
    padding: 5% 0%;
}


.card-country {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: var(--primary-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    min-height: 350px;
    width: 100%;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: scale(0.95);
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
}

.card-country img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
}

.flag {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-country {
    width: 100%;
    height: 160px !important;
    object-fit: cover;
    display: block;
    min-width: 100%;
    min-height: 50%;
    width: 50%;
}

.info-country {
    padding: 20px;
    flex: 1;
}

.info-country h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.info-country p {
    margin: 5px 0;
    font-size: 14px;
}